.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .list-container {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    overflow: hidden;
  }
  .list {
    max-height: 600px; 
    width: 250px;
    overflow-y: auto; 
    padding-bottom: 10px; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 10px;
    background-color: #d8e1f3ce; 
  }

  .list, .temp-list {
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 200px;
    border-radius: 4px;
  }
  
  .selected {
    border-color: blue;
  }
  
  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  }
  
  button {
    cursor: pointer;
    width: max-content;
    padding: 8px 12px;
    color: white;
    background-color: rgb(30, 112, 253);
    border-radius: 5px;
    border: none;
    outline: none;
  }

  .cancel{
    background-color: white;
    margin-right: 10px;
    border: 1px solid black;
    color: black;
  }
  
  .actions {
    margin-top: 20px;
    
  }

  .top-actions{
    margin-bottom: 30px;
  }

  .alertMsg{
    margin-top: 20px;
    color: red;
  }
  .alert{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  @media screen and (max-width:600px){
    .list-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .list {
      max-height: 300px; 
    }
  }